{% extends "layout.html" %}

{% block title %}Arvostelun poistaminen{% endblock %}

{% block content %}

<h2>Arvostelun poistaminen</h2>
  
<p>Olet poistamassa seuraavan arvostelun:</p>
  
<p>
  <b>Paikka:</b> {{ place.title }} <br>
  <b>Arvosana:</b> {{ review.stars }} / 5 <br>
  <b>Kommentti:</b> {{ review.comment }}
</p>
  
<p>Haluatko varmasti poistaa tämän arvostelun?</p>
  
<form action="/delete_review/{{ review.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista arvostelu">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
{% endblock %}