<!DOCTYPE html>
<html>

<head>
  <title>Etsi kisakatsomoita</title>
</head>

<body>
    <h1>Etsi kisakatsomoita</h1>
    <form action="/find_place" method="get">
        <p>
            Hakusana: <input type="text" name="query" value="{{ query }}">
        </p>
        <input type="submit" value="Lähetä">
    </form>

    <p>
        <a href="/">Takaisin</a>
    </p>

    {% if query %}
    <h2>Tulokset</h2>
    <ul>
        {% for place in results %}
        <li><a href="/place/{{ place.id }}">{{ place.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</body>

</html>