<!DOCTYPE html>
<html>

<head>
  <title>Uusi kisakatsomo</title>
</head>

<body>
  <h1>Uuden paikan lisääminen</h1>
  
  <form action="/create_place" method="post">
    <p>
      Paikan nimi: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>

    <p>
      Kaupunki: <br />
      <input type="text" name="city" maxlength="50" required/>
    </p>

    <p>
      Osoite: <br />
      <input type="text" name="address" maxlength="50" required/>
    </p>
      Paikan categoria: <br />
      <select name="category">
        <option value="">(valitse)</option>
        <option value="Baari">Baari</option>
        <option value="Ravintola">Ravintola</option>
        <option value="Torikatsomo">Torikatsomo</option>
      </select>
    <p>
      Kuvaus (mitä lajeja näkyy, millainen tunnelma jne.): <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>
    </p>
    <p>

    </p>
    <input type="submit" value="Luo uusi paikka" />
  </form>
</body>

</html>