{% extends "layout.html" %}

{% block title %}Uusi kisakatsomo{% endblock %}

{% block content %}

<h2>Uuden paikan lisääminen</h2>
  
<form action="/create_place" method="post">
  <p>
    <label for="title">Paikan nimi:</label> <br />
    <input type="text" id="title" name="title" maxlength="50" required/>
  </p>

  <p>
    <label for="city">Kaupunki:</label> <br />
    <input type="text" id="city" name="city" maxlength="50" required/>
  </p>

  <p>
    <label for="address">Osoite:</label> <br />
    <input type="text" id="address" name="address" maxlength="50" required/>
  </p>

  {% for class_name in classes %}
  <p>
    <label for="class_{{ class_name }}">{{ class_name }}:</label> <br />
    <select id="class_{{ class_name }}" name="classes">
      <option value="">Valitse</option>
    {% for option in classes[class_name] %}
      <option value="{{ class_name }}:{{ option }}"> {{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}

  <p>
    <label for="description">Kuvaus (mitä lajeja näkyy, millainen tunnelma jne.):</label> <br />
    <textarea id="description" name="description" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Luo uusi paikka" />
</form>

{% endblock %}
