{% extends "layout.html" %}

{% block title %}Ilmoituksen poistaminen{% endblock %}

{% block content %}
<h2>{{ place.title }}</h2>
<h3>Ilmoituksen poistaminen</h3>
<p>Haluatko varmasti poistaa tämän ilmoituksen?</p>
<form action="/remove_place/{{ place.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista ilmoitus">
  <input type="submit" name="back" value="Palaa takaisin">
</form>
<p>
  <a href="/place/{{ place.id }}">Takaisin ilmoitukseen</a>
</p>
{% endblock %}