{% extends "layout.html" %}

{% block title %}{{ place.title }}{% endblock %}

{% block content %}

<h2>{{ place.title }}</h2>
{% if session.user_id == place.user_id %}
<p>
  <a href="/edit_place/{{ place.id }}">Muokkaa</a>
  <a href="/remove_place/{{ place.id }}">Poista</a>
</p>
{% endif %}

<p><b>Kaupunki:</b> {{ place.city }}</p>
<p><b>Osoite:</b> {{ place.address }}</p>

<p><b>Kuvaus:</b></p>
<p>{{ place.description | show_lines }}</p>

{% if classes %}
<p>
  <b>Kategoria:</b>
  <ul>
    {% for class in classes %}
    <li>{{ class.value }}</li>
    {% endfor %}
  </ul>
</p>
{% endif %}

<p><b>Paikan lisäsi käyttäjä:</b> <a href="/user/{{ place.user_id }}" >{{ place.username }} </a></p>
<br>
<hr>

<h2>Muiden antamat arvostelut</h2>
{% if reviews %}
  <p><b>Arvosanojen keskiarvo:</b> {{ average }} / 5</p>
  <hr>
{% endif %}
  
{% for review in reviews %}
  <div>
    <p><b>{{ review.username }}</b> antama arvosana: {{ review.stars }} / 5</p>
    <p>{{ review.comment | show_lines }}</p>
  </div>
    
  {% if session.user_id == review.user_id %}
    <p>
      <a href="/edit_review/{{ review.id }}">Muokkaa</a>
      <a href="/delete_review/{{ review.id }}">Poista</a>
    </p>
  {% endif %}
  <hr>
{% else %}
  <p>Ei vielä arvosteluja.</p>
{% endfor %}

{% if session.user_id %}
    
  {% if session.user_id != place.user_id %}
    <h3>Anna arvostelu</h3>
    <form action="/add_review" method="post">
      <input type="hidden" name="place_id" value="{{ place.id }}">
      
      <p>
        <label for="rating">Arvosana (1-5):</label> <br>
        <input type="number" id="rating" name="stars" min="1" max="5" required>
      </p>
      
      <p>
        <label for="comment_field">Kommentti:</label> <br>
        <textarea id="comment_field" name="comment" rows="4" cols="50" required></textarea>
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" value="Lähetä arvostelu">
    </form>
  {% else %}
    <p>Et voi arvostella omaa paikkaasi.</p>
  {% endif %}

{% else %}
  <p><a href="/login">Kirjaudu sisään</a> arvostellaksesi tämän paikan.</p>
{% endif %}
  
{% endblock %}