<!DOCTYPE html>
<html>

<head>
  <title>{{ place.title }}</title>
</head>

<body>
  <h1>{{ place.title }}</h1>
  {% if session.user_id == place.user_id %}
  <p>
    <a href="/edit_place/{{ place.id }}">Muokkaa</a>
    <a href="/remove_place/{{ place.id }}">Poista</a>
  </p>
  {% endif %}

  <p><b>Kaupunki:</b> {{ place.city }}</p>
  <p><b>Osoite:</b> {{ place.address }}</p>
  <p><b>Kuvaus:</b> {{ place.description }}</p>
  
  <p><b>Paikan lisäsi käyttäjä:</b> <a href="/user/{{ place.user_id }}" >{{ place.username }} </a>
  </p>
  {% if classes %}
  <p>
    Kategoria:
    <ul>
      {% for class in classes %}
      <li>{{ class.value }}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}
  <br>
  <a href="/">Takaisin</a>
</body>

</html>